/*
Селекторы
div{}    
.class1{}
#id1{}
-------------
div.class1 {}  <div class="class1">
div > p{} для всех р на 1 уровне вложености дива
div .class1 {} любой уровень вложености для элементов дива с классом class1
div > .class1{} 1-й уровень вложености для элементов дива с классом class1
div > .class1, p{} тоже но и для р
div+div {} для соседних дивов
*/

/*КАСКАДНОСТЬ СТИЛЕЙ
приоритет класса и id выше

* - 1
class - 10
id - 100
<style> - 1000
!important - 10000
*/
* {
  color: yellow;
  text-decoration: overline;
}

li {
  margin: 20px;
}

a {
  color: red;
  text-decoration: none;
}

.linkClass {
  color: green;
}

#linkId2 {
  color: black;
}

#linkId {
  color: blueviolet;
}
