/*
ПСЕВДОЭЛЕМЕНТЫ
::first-letter позволяет выбрать первую букву из текста
::first-line стилизует первую строку текста
::before добавляет сообщение до определенного элемента
::after добавляет сообщение после определенного элемента
::selection выбирает выбранные пользователем элементы

selector::pseudoelement {
    property: value;
    property: value;
    property: value;
    property: value;
    property: value;
}
*/

p {
  font-size: 16px;
  font-weight: normal;
}

p.classP::first-letter {
  color: blue;
  font-size: 50px;
  font-weight: bold;
}

p.classP::first-line {
  text-decoration: overline;
}

/*::section color, background, cursor, outline*/

p.classP::selection {
  background-color: orangered;
  color: white;
}

/*before,after  есть свойство content*/

p.classP::before {
  content: url(https://d34u8crftukxnk.cloudfront.net/slackpress/prod/sites/6/2019-01_BrandRefresh_Old-to-New-Final.gif);
}
p.classP::after {
  content: url(https://d34u8crftukxnk.cloudfront.net/slackpress/prod/sites/6/2019-01_BrandRefresh_Old-to-New-Final.gif);
}
